import os

SQLALCHEMY_DATABASE_NAME = os.environ.get('MYSQL_DATABASE')
SQLALCHEMY_DATABASE_PORT = os.environ.get('MYSQL_TCP_PORT')
SQLALCHEMY_DATABASE_HOST = os.environ.get('MYSQL_DATABASE')
SQLALCHEMY_DATABASE_USERNAME = os.environ.get('MYSQL_USER')
SQLALCHEMY_DATABASE_PASSWORD = os.environ.get('MYSQL_PASSWORD')
SQLALCHEMY_DATABASE_CONNECTION = os.environ.get('DB_CONNECTION')

SQLALCHEMY_DATABASE_URL = f"{SQLALCHEMY_DATABASE_CONNECTION}://{SQLALCHEMY_DATABASE_USERNAME}:{SQLALCHEMY_DATABASE_PASSWORD}@{SQLALCHEMY_DATABASE_HOST}:{SQLALCHEMY_DATABASE_PORT}/{SQLALCHEMY_DATABASE_NAME}"

SMS_LOGIN = {
    'user': int,
    'pass': ''
}

SMS_SERVER = ''